.btn:hover {
  background-color: rgb(7 89 133);
}
.news {
}
.centreColum {
  align-items: center;
}
.detailnews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.box {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-columns: auto auto auto;

  padding: 10px;
}
.innerBox {
  padding: 3rem 2rem;
  outline: var(--outline-hover);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.carousel-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 50px;
  border: 1px solid #ccc;
  background-color: pink;
}

.carousel-item-content h2 {
  font-size: 18px;
  margin: 5px 0;
}

.carousel-item-content img {
  max-width: 100%;
  height: auto;
}
