.article {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 1px solid gray;
  box-shadow: 5px 10px 8px #888888;
}
.article:hover {
  border: 3px solid rgba(227, 139, 139, 0.618);
}
.btnarticle:hover {
  background-color: #60a5fa;
}
.adminbox {
  box-shadow: 5px 10px 8px #888888;
}
